<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liberooms Home</title>
</head>
<body>
    <h1>Liberooms</h1>
    <p>I want to </p>
    <div><a href="/renter">Rent out my place</a></div>
    <div><a href="/tenant">Find a place to stay</a></div>
</body>
</html>